<!-- logo -->
<div class="text-center mt-4">
    <img src="assets/gymlogo.png" alt="logo" width="280">
</div>
<!-- END logo -->

<!-- form -->
<div class="registr-form m-3 p-4">
    <form>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" placeholder="">
                    <mat-icon matSuffix><i class="fa fa-envelope-o"></i></mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Phone</mat-label>
                    <input matInput type="tel" placeholder="">
                    <mat-icon matSuffix><span class="material-icons-outlined">phone</span></mat-icon>
                    <!-- <mat-icon matSuffix><i class="fa-light fa-phone"></i></mat-icon> -->
                </mat-form-field>
            </div>

            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Weight</mat-label>
                    <input matInput type="number" formControlName="weight" placeholder="">
                    <!-- <mat-icon matSuffix>line_weight</mat-icon> -->
                    <mat-icon matSuffix><span class="material-icons-outlined">scale</span></mat-icon>
                    <mat-hint>Unit in KG</mat-hint>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Height</mat-label>
                    <input matInput type="number" formControlName="height" placeholder="">
                    <mat-icon matSuffix>line_weight</mat-icon>
                    <mat-hint>Unit in meters</mat-hint>
                </mat-form-field>
            </div>
            <div class="col-md-6 mt-3">
                <label id="example-radio-group-label">Do you require a trainer?</label>
                <mat-radio-group class="example-radio-group">
                    <mat-radio-button class="example-radio-button" *ngFor="let requireTrainer of ['Yes', 'No']" [value]="requireTrainer">
                        {{requireTrainer}}
                    </mat-radio-button>
                </mat-radio-group>
                <div>Your trainer is: </div>
                <hr>
            </div>
            <div class="col-md-6 mt-3">
                <label id="example-radio-group-label">What is your gender? </label>
                <mat-radio-group class="example-radio-group">
                    <mat-radio-button class="example-radio-button" *ngFor="let gender of genders" [value]="gender">
                        {{gender}}
                    </mat-radio-button>
                </mat-radio-group>
                <div>Your gender is: </div>
                <hr>
            </div>
            <div class="col-md-6 mt-5">
                <mat-form-field appearance="fill">
                    <mat-label>Packages</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let package of packages" [value]="package">
                        {{package}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
        </div>
    </form>
</div>
